# ======================
# IDE
# ======================
.idea/
*.iml

# ======================
# BUILD
# ======================
target/
*/target/
**/target/

# ======================
# JAVA
# ======================
*.class

# ======================
# LOGS
# ======================
*.log

# ======================
# ENV
# ======================
.env
.env.*

# ======================
# OS
# ======================
.DS_Store
Thumbs.db